#	•	30 fps — снимок каждые 48 минут.
#	•	24 fps — снимок каждые 1 час.
#	•	60 fps — снимок каждые 24 минуты.
#	•	120 fps — снимок каждые 12 минут.
#	•	240 fps — снимок каждые 6 минут.

* * * * * /bin/bash /path/to/get_image.sh
0 */4 * * * /bin/bash /path/to/update_video.sh
